@model NordicDoorWeb.Models.Godkjenning

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Godkjenning</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="godkjenning_id" />
            <div class="form-group">
                <label asp-for="ansatt_id" class="control-label"></label>
                <input asp-for="ansatt_id" class="form-control" />
                <span asp-validation-for="ansatt_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gkjent_ikke_gkjent" class="control-label"></label>
                <input asp-for="gkjent_ikke_gkjent" class="form-control" />
                <span asp-validation-for="gkjent_ikke_gkjent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_godkjenning" class="control-label"></label>
                <input asp-for="type_godkjenning" class="form-control" />
                <span asp-validation-for="type_godkjenning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
