@model NordicDoorWeb.Models.Kostnad

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kostnad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="kostnad" class="control-label"></label>
                <input asp-for="kostnad" class="form-control" />
                <span asp-validation-for="kostnad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="med_uten_K" class="control-label"></label>
                <input asp-for="med_uten_K" class="form-control" />
                <span asp-validation-for="med_uten_K" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_K" class="control-label"></label>
                <input asp-for="type_K" class="form-control" />
                <span asp-validation-for="type_K" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
